body {
  padding: 20px;
  background-color: #e6e6e6;
}
.btn {
  font-size: 30px;
}
#text-input {
  width: 50%;
  height: 1000px;
  background: rgba(96, 125, 139, 0.58);
  border: 1px solid gray;
  font-size: 20px;
}
#preview {
  float: right;
  width: 50%;
  height: 100%;
  border: 1px solid #795548;
  background: #e6e6e6;
}
